<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>de.mailnotes.agent</string>

    <key>ProgramArguments</key>
    <array>
       <string>@@HOME@@/Library/Application Support/MailNotes/Agent/MailNotesAgent.app/Contents/MacOS/MailNotesAgent</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>@@HOME@@/Library/Logs/MailNotesAgent.log</string>

    <key>StandardErrorPath</key>
    <string>@@HOME@@/Library/Logs/MailNotesAgent-error.log</string>
</dict>
</plist>
